<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Form</h3>
  </div>
  <div class="box-body">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
