<p id="notice"><%= notice %></p> 
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Users
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
</section>
<hr>
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New User', new_user_path %>
