<section class="content-header">
  <h1>
    New User
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to 'Home', root_path %>
    <li class="active">New User</li>
  </ol>
</section>
<hr>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
